<head>
  <meta charset="UTF-8">
  <title>Stack Sign In Screen</title>
</head>
<body>
<%= link_to "Sign Up", "/teams/#{params[:team_id]}/sign_up/" %>
  <div class="wrapper">
    <div class="container">
      <h1>Welcome to Stack</h1>
        <form action="/session" method="post" class="form_static">
          <%= auth_token %>
          <input type="text" placeholder="Username" name="user[username]">
          <input
            type="hidden"
            name="user[team_id]"
            value="<%= params[:team_id]%>">
          <input type="password" placeholder="Password" name="user[password]">
          <button type="submit" id="login">Login</button>
        </form>
        <form action="/session" method="post" class="form_static">
          <%= auth_token %>
          <input
            type="hidden"
            name="user[username]"
            value="GuestUser@example.com"
            id="user_username">
          <input
            type="hidden"
            name="user[team_id]"
            value="<%= params[:team_id]%>">
          <input
            type="hidden"
            name="user[password]"
            value="GuestUser"
            id="user_password">
          <button type="submit" id="guest">Login as Guest User</button>
        </form>
        <form action="/session" method="post" class="form_static">
          <%= auth_token %>
          <input
            type="hidden"
            name="user[username]"
            value="wen@stack.com"
            id="user_username">
          <input
            type="hidden"
            name="user[team_id]"
            value="<%= params[:team_id]%>">
          <input
            type="hidden"
            name="user[password]"
            value="wenliang"
            id="user_password">
          <button type="submit" id="wen">Login as Wen</button>
        </form>
        <ul class="bg-bubbles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
    </div>
  </div>
</body>
