<div id="content"
  data-team-id="<%= params[:team_id] %>"
  data-team-name="<%=Team.all.find_by_id(params[:team_id]).name%>"
  data-user-id="<%= current_user.id %>"
  data-user-name="<%= current_user.handle %>"
  data-user-last-receivable-type="<%=current_user.last_receivable_type%>"
  data-user-last-receivable-id="<%=current_user.last_receivable_id%>"
>
</div>
